.menu-header{
    height: 50px;
}
.imagen_c1{
    width: 100%;
}
.c1 h1{
    font-size: 7rem;
}
.c1 h3{
    font-size: 3rem;
}
.c2 {
    padding: 70px;
    font-size: 2.2rem;
}
.c3-service-container{
    grid-template-columns: repeat(3, 240px);
    
}
.service-info{
    font-size: 1.6rem;
}